CV_Project/YOLO/Bucknell[[:space:]]Men's[[:space:]]Water[[:space:]]Polo[[:space:]]Vs.[[:space:]]Mercyhurst[[:space:]](10⁄10⁄25)[[:space:]](720p_60fps_H264-128kbit_AAC)[[:space:]]-[[:space:]]Trim.mp4 filter=lfs diff=lfs merge=lfs -text
CV_Project/YOLO/runs/detect/predict2/Bucknell[[:space:]]Men's[[:space:]]Water[[:space:]]Polo[[:space:]]Vs.[[:space:]]Mercyhurst[[:space:]](10⁄10⁄25)[[:space:]](720p_60fps_H264-128kbit_AAC)[[:space:]]-[[:space:]]Trim.avi filter=lfs diff=lfs merge=lfs -text
CV_Project/YOLO/runs/detect/predict/Bucknell[[:space:]]Men's[[:space:]]Water[[:space:]]Polo[[:space:]]Vs.[[:space:]]Mercyhurst[[:space:]](10⁄10⁄25)[[:space:]](720p_60fps_H264-128kbit_AAC)[[:space:]]-[[:space:]]Trim.avi filter=lfs diff=lfs merge=lfs -text
CV_Project/YOLO/runs/detect/predict3/Bucknell[[:space:]]Men's[[:space:]]Water[[:space:]]Polo[[:space:]]Vs.[[:space:]]Mercyhurst[[:space:]](10⁄10⁄25)[[:space:]](720p_60fps_H264-128kbit_AAC)[[:space:]]-[[:space:]]Trim.avi filter=lfs diff=lfs merge=lfs -text
